@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Jeju Myeongjo';
  src: url('/public/font/JejuMyeongjo.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, 'Jeju Myeongjo';
}