@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Jeju Myeongjo';
  src: url('/public/font/JejuMyeongjo.ttf') format('ttf');
  /* font-weight: 100; */
  font-style: normal;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, 'Jeju Myeongjo';
}

.ticket {
  display: flex;
  position: relative;
  width: 350px;
  flex-direction: column;
}

.ticket--start {
  position: relative;
}

.ticket--start:before {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #041E23;
  border: 1px solid #24A0B5;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  left: -16px;
  top: -0px;
  margin-top: -16px;
  border-radius: 50%;
}

.ticket--start:after {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #041E23;
  border: 1px solid #24A0B5;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-225deg);
  right: -16px;
  top: -0px;
  margin-top: -16px;
  border-radius: 50%;
}


.ticket--center:before {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #041E23;
  border: 1px solid #24A0B5;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  transform: rotate(-135deg);
  left: -16px;
  top: -0px;
  margin-top: -16px;
  border-radius: 50%;
}

.ticket--center:after {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #041E23;
  border: 1px solid #24A0B5;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-135deg);
  right: -16px;
  top: -0px;
  margin-top: -16px;
  border-radius: 50%;
}

.ticket--center {
  padding: 5px;
  position: relative;
}

.ticket--end {
  padding: 18px 34px 18px 34px;

  display: flex;
  flex-direction: column;
  position: relative;
}

.ticket--end:before {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #041E23;
  border: 1px solid #24A0B5;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-225deg);
  left: -16px;
  top: 100%;
  margin-top: -16px;
  border-radius: 50%;
}

.ticket--end:after {
  content: '';
  width: 32px;
  height: 32px;
  background-color: #041E23;
  border: 1px solid #24A0B5;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  transform: rotate(-45deg);
  right: -16px;
  top: 100%;
  margin-top: -16px;
  border-radius: 50%;
}